@page "/"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi

@using Portfolio.Shared

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Add a project</h3>
<input @bind-value="newProjectName">
<button @onclick="addProject">Add Project</button>
<hr/>
<button @onclick="GetProjects">Load Project List</button>
<h3>List of Projects</h3>
<ul>
    @foreach(var p in projects)
    {
        <li>@p.Title</li>
    }
</ul>

@code {
    private string newProjectName;
    private IEnumerable<Project> projects = new List<Project>();

    private async Task addProject()
    {
        var project = new Project{
            Title = newProjectName
        };
        await projectApi.AddProjectAsync(project);

    }

    private async Task GetProjects()
    {
        projects = await projectApi.GetProjectsAsync();
    }

    protected override async Task  OnInitializedAsync()
    {

    }
}