@page "/"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@inject HttpClient http
@using Microsoft.Extensions.Configuration
@inject IConfiguration config

@using Portfolio.Shared

<h1>Portfolio Sample</h1>

<div>Base Address: @http.BaseAddress</div>
<div>Config: @config["ConfigValue"]</div>

<h3>Add a project</h3>
<div class="form-field">
    <input placeholder="project name" @bind-value="newProjectName">
</div>
<div class="form-field">
    <button @onclick="addProject">Add Project</button>
</div>
<hr/>
<button @onclick="GetProjects">Load Project List</button>
<h3>List of Projects</h3>
<ul>
    @foreach(var p in projects)
    {
        <li>@p.Title</li>
    }
</ul>

@code {
    private string newProjectName;
    private IEnumerable<Project> projects = new List<Project>();

    private async Task addProject()
    {
        var project = new Project{
            Title = newProjectName,
        };
        await projectApi.AddProjectAsync(project);        
    }

    private async Task GetProjects()
    {
        projects = await projectApi.GetProjectsAsync();
    }

    protected override async Task  OnInitializedAsync()
    {
        await GetProjects();
    }
}