@page "/"
@attribute [Authorize]

@using Microsoft.Extensions.Configuration
@using Portfolio.Shared.ViewModels
@inject IConfiguration config
@using Polly;

@using Portfolio.Shared

<h1>Portfolio Sample</h1>

<AddProject Heading="Add a project" />

<hr/>

<ProjectList />

@code {


}