@page "/"
@attribute [Authorize]

@using Microsoft.Extensions.Configuration
@using Portfolio.Shared.ViewModels
@using Polly;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using Portfolio.Shared

@inject Portfolio.BlazorWasm.ProjectApiService projectApi

<h1>Portfolio Sample</h1>

<h3>Add a project</h3>
<div class="form-field">
    <input placeholder="project name" @bind-value="newProjectName">
</div>
<div class="form-field">
    <button @onclick="addProject">Add Project</button>
</div>
<hr/>
<button @onclick="GetProjects">Load Project List</button>
<h3>List of Projects</h3>
<ul>
    @foreach(var p in projects)
    {
        <li><a href="project/@p.Slug">@p.Title</a><br/></li>
    }
</ul>

@code {
    private string newProjectName;
    private IEnumerable<ProjectViewModel> projects = new List<ProjectViewModel>();

    private async Task addProject()
    {
        var project = new Portfolio.Shared.ViewModels.ProjectViewModel{
            Title = newProjectName,
        };
        await projectApi.SaveProjectAsync(project);
    }

    private async Task GetProjects()
    {
        try
        {
            projects = await projectApi.GetProjectsAsync();
        }
        catch(AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    protected override async Task  OnInitializedAsync()
    {
        //await GetProjects();
    }
}