@page "/"
@using Microsoft.Extensions.Configuration

@inject IConfiguration config
@using Polly;

@using Portfolio.Shared

<h1>Portfolio Sample</h1>

<AddProject Heading="Add a project" />

<hr/>

<ProjectList />

@code {


}