@page "/project/{Id:int}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
<h3>Project @SelectedProject.Id</h3>
<h4>@SelectedProject.Title</h4>
<p>@SelectedProject.Requirements</p>

<div>
<div>Language</div>
<div><input @bind-value="newLanguage" /><button @onclick="assignLanguage">Add</button></div>
<ul>
    @foreach(var lang in SelectedProject.ProjectLanguages)
    {
        <li><a href="langauges/@lang.Id">@lang.Language.Name</a></li>
    }
</ul>
</div>

@code {
    [Parameter]
    public int Id{get;set;}
    string newLanguage;

    public Portfolio.Shared.Project SelectedProject{get; set;} = new Portfolio.Shared.Project();

    protected override async Task OnInitializedAsync()
    {
        if(Id == 0)
            return;

        SelectedProject = await projectApi.GetProjectByIDAsync(Id);
    }

    private async Task assignLanguage()
    {
        await projectApi.AssignAsync(Portfolio.Shared.Project.LanguageCategory, SelectedProject.Id, newLanguage);
    }
}
