@page "/project"
@inject ProjectApiService api
<h3>Project</h3>


@code {
    [Parameter]
    public int ProjectId{get;set;}

    public Project SelectedProject{get; set;}

    //protected override async Task OnIntializedAsync()
    //{
        //if(ProjectId == 0)
            //return;

        //SelectedProject = await api.GetProjectByIDAsync(ProjectId);
    //}


}
