@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Polly;
@using Portfolio.Shared.ViewModels

<h3>Project List</h3>

<button @onclick="GetProjects">Load Project List</button>
<h3>List of Projects</h3>
<ul>
    @foreach(var p in projects)
    {
        <li><a href="project/@p.Slug">@p.Title</a><br/></li>
    }
</ul>

@code {
    private IEnumerable<ProjectViewModel> projects = new List<ProjectViewModel>();

    private async Task GetProjects() => projects = await projectApi.GetProjectsAsync();

    protected override async Task  OnInitializedAsync() => await GetProjects();
}
